workflow/GetTreshold.json
{
  "name": "Get Treshold",
  "nodes": [
    {
      "parameters": {
        "path": "threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "977c6eab-3e35-4daa-9cb0-6f1ee96ca3d6",
      "name": "Get Threshold",
      "webhookId": "5b22d60e-4fb6-4b08-902a-7cae3ab3f9f8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"is_active\": false,\n  \"ph_min\": 0.0,\n  \"ph_max\": 0.0,\n  \"tds_min\": 0.0,\n  \"tds_max\": 0.0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        80
      ],
      "id": "ae438621-e481-43ea-8d53-6b07362a831d",
      "name": "Respond Blank Threshold"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"is_active\": {{ $json.is_active ? true : false }},\n  \"ph_min\": {{ $json.ph_min }},\n  \"ph_max\": {{ $json.ph_max }},\n  \"tds_min\": {{ $json.tds_min }},\n  \"tds_max\": {{ $json.tds_max }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        -80
      ],
      "id": "a71034d7-8462-4ff5-882b-af538618fb79",
      "name": "Respond Exists Threshold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2cc35a2-246d-41d4-8342-15ccfb92f74b",
              "leftValue": "={{ $json.limit_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "4a265010-7dc7-4d63-ad34-6e4b70cbbdaf",
      "name": "If Exists"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "limit_values",
          "mode": "list",
          "cachedResultName": "limit_values"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "is_active",
              "direction": "DESC"
            },
            {
              "column": "limit_id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "f5b82180-9225-4339-96dd-9b025711bb98",
      "name": "Get Exists Threshold",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FUKAK42fw1lGBLPH",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Threshold": {
      "main": [
        [
          {
            "node": "Get Exists Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists": {
      "main": [
        [
          {
            "node": "Respond Exists Threshold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Blank Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Exists Threshold": {
      "main": [
        [
          {
            "node": "If Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08b4893a-1a66-4c85-a93f-26d8cd74ba11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0244782b7ae9b921dd7e4d2535e0e4743669000f812c3d7de7e1235440505061"
  },
  "id": "L8eTIzwmfTOFTXhQ",
  "tags": []
}