workflow/Pump Manually & Locally.json
{
  "name": "Pump Manually & Locally",
  "nodes": [
    {
      "parameters": {
        "topics": "pump/manually",
        "options": {
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "ae4e077d-74fd-436b-bb38-3c354f19d983",
      "name": "Manually Trigger",
      "credentials": {
        "mqtt": {
          "id": "nxPlZZqtgMoMIKs4",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "pump_histories",
          "mode": "list",
          "cachedResultName": "pump_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "pump",
              "value": "PUMP_NUTRITION"
            },
            {
              "column": "duration_on",
              "value": "={{ $json.message.duration }}"
            },
            {
              "column": "type",
              "value": "={{ $json.topic == \"pump/manually\" ? \"MANUALLY\" : \"LOCALLY\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        464,
        -160
      ],
      "id": "45e82870-e12f-4d2e-9899-0712271c130d",
      "name": "Add Pump Nutrition",
      "credentials": {
        "mySql": {
          "id": "FUKAK42fw1lGBLPH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "pump_histories",
          "mode": "list",
          "cachedResultName": "pump_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "pump",
              "value": "PUMP_PH_UP"
            },
            {
              "column": "duration_on",
              "value": "={{ $json.message.duration }}"
            },
            {
              "column": "type",
              "value": "={{ $json.topic == \"pump/manually\" ? \"MANUALLY\" : \"LOCALLY\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        464,
        0
      ],
      "id": "0fc3be66-24fb-4561-a32d-33ac67e375bf",
      "name": "Add Pump pH-Up",
      "credentials": {
        "mySql": {
          "id": "FUKAK42fw1lGBLPH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "pump_histories",
          "mode": "list",
          "cachedResultName": "pump_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "pump",
              "value": "PUMP_PH_DOWN"
            },
            {
              "column": "duration_on",
              "value": "={{ $json.message.duration }}"
            },
            {
              "column": "type",
              "value": "={{ $json.topic == \"pump/manually\" ? \"MANUALLY\" : \"LOCALLY\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        464,
        160
      ],
      "id": "937f58ab-c0bd-4b73-ba68-e5dc4d131447",
      "name": "Add Pump pH-Down",
      "credentials": {
        "mySql": {
          "id": "FUKAK42fw1lGBLPH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "topics": "pump/locally",
        "options": {
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "be4388b3-e7e1-4360-804d-fd7d4abaec45",
      "name": "Locally Trigger",
      "credentials": {
        "mqtt": {
          "id": "nxPlZZqtgMoMIKs4",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.pump }}",
                    "rightValue": "NUTRITION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "87c745c1-62e8-497e-bb6e-231a2a9d7be0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nutrition"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b257bbbe-05d0-4580-b96a-2a26652f6d53",
                    "leftValue": "={{ $json.message.pump }}",
                    "rightValue": "PH_UP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pH-Up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48d1538f-6577-4699-bf00-33b60de1f62f",
                    "leftValue": "={{ $json.message.pump }}",
                    "rightValue": "PH_DOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pH-Down"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        -16
      ],
      "id": "ae8a5484-d378-42d4-80ca-8196bb3d8dd9",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Manually Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locally Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add Pump Nutrition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Pump pH-Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Pump pH-Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b591e9e-33a1-46b5-a8ff-5b9f8d5fc8a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0244782b7ae9b921dd7e4d2535e0e4743669000f812c3d7de7e1235440505061"
  },
  "id": "cUHZGyoARqe3vrYy",
  "tags": []
}