workflow/Push Notification.json
{
  "name": "Push Notification",
  "nodes": [
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Device Warning",
        "body": "Perangkat terputus dari broker. Silakan periksa koneksi internet atau daya perangkat.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "12141c24-549d-40a3-9191-b3095f7d217d",
      "name": "Send Device Warning Notification",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    },
    {
      "parameters": {
        "topics": "device/status",
        "options": {
          "jsonParseBody": false
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "f0ca55be-6cb6-415a-9b17-2eecf5e187d0",
      "name": "Device Status Trigger",
      "credentials": {
        "mqtt": {
          "id": "nxPlZZqtgMoMIKs4",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f6c0f3f8-acbb-4dbd-b58d-ae1c5966a813"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "offline"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        0
      ],
      "id": "3c322ee7-827f-4bb0-a6db-441354cc386e",
      "name": "Chek Device Status"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst currentPayload = items[0].json.message; \n\nif (staticData.lastProcessedMessage === currentPayload) {\n  return [];\n}\n\nstaticData.lastProcessedMessage = currentPayload;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "f721d11c-f52f-4b3e-b751-80e327f5b195",
      "name": "Retained Filter"
    },
    {
      "parameters": {
        "topics": "tank/notification",
        "options": {
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        320
      ],
      "id": "192366e9-4e59-4b9e-b4b3-b7119bcdcce9",
      "name": "Tank Warning Trigger",
      "credentials": {
        "mqtt": {
          "id": "nxPlZZqtgMoMIKs4",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "MAIN_TANK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2da56190-af05-41d9-aa13-6780069cc577"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Main Tank"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "433f0e14-24dc-4429-b0a1-6eab55cd83fc",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "PH_UP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pH-Up Tank"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "466e5ebc-f3a0-47ce-ae78-1499045066d0",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "PH_DOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pH-Down Tank"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e3abb2d-778e-495d-8ac8-5f235ac369e6",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "NUTRITION_A",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nutrition A Tank"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d73c782-d20e-43b9-8eb9-90cd9629950d",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "NUTRITION_B",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nutrition B Tank"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        432,
        272
      ],
      "id": "bfdc293f-2bdc-45a7-97bc-29cfeaae9e0f",
      "name": "Switch"
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Tank Warning",
        "body": "=Larutan pH-Up tersisa {{ parseFloat($json.message.volume.toFixed(2)).toString().replace('.', ',') }} ml. Segera lakukan pengisian ulang.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "2a9d14e3-3936-4a72-873e-62343191f506",
      "name": "Send Ph Up Warning",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Tank Warning",
        "body": "=Larutan pH-Down tersisa {{ parseFloat($json.message.volume.toFixed(2)).toString().replace('.', ',') }} ml. Segera lakukan pengisian ulang.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        768,
        320
      ],
      "id": "101320f2-a970-4e88-82de-d51b13a77483",
      "name": "Send Ph Down Warning",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Tank Warning",
        "body": "=Larutan nutrisi B tersisa {{ parseFloat($json.message.volume.toFixed(2)).toString().replace('.', ',') }} ml. Segera lakukan pengisian ulang.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        768,
        640
      ],
      "id": "b2d120ec-5212-4eee-b390-a6d831763cfa",
      "name": "Send Nutrition B Warning",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Tank Warning",
        "body": "=Larutan nutrisi A tersisa {{ parseFloat($json.message.volume.toFixed(2)).toString().replace('.', ',') }} ml. Segera lakukan pengisian ulang.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        768,
        480
      ],
      "id": "aeaa2e2d-19b3-4b48-8dd6-58b23bce58da",
      "name": "Send Nutrition A Warning",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Tank Warning",
        "body": "=Tngki utama tersisa {{ parseFloat($json.message.volume.toFixed(2)).toString().replace('.', ',') }} ml. Segera lakukan pengisian ulang.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "9ff2c82c-fd9c-484d-9711-a678a8d1f359",
      "name": "Send Main Tank Warning",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Device Status Trigger": {
      "main": [
        [
          {
            "node": "Retained Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chek Device Status": {
      "main": [
        [
          {
            "node": "Send Device Warning Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retained Filter": {
      "main": [
        [
          {
            "node": "Chek Device Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tank Warning Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Main Tank Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Ph Up Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Ph Down Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Nutrition A Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Nutrition B Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adfa3706-fae9-453c-b244-6e1fbd906c01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0244782b7ae9b921dd7e4d2535e0e4743669000f812c3d7de7e1235440505061"
  },
  "id": "Paj2HllQpTQEQrfc",
  "tags": []
}