workflow/Trigger.json
{
  "name": "Trigger",
  "nodes": [
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "0cc13c0a-53c6-470c-bd56-fa9f70e147cc",
      "name": "Wait",
      "webhookId": "31cd14c2-781a-403b-a1ea-7d606b075481",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        0
      ],
      "id": "9349029e-1138-42b5-89e7-7ab3176d3d9e",
      "name": "Trigger 30 Min"
    },
    {
      "parameters": {
        "topic": "environment/refresh",
        "sendInputData": false,
        "message": "={\n  \"status\": {{true}},\n  \"url\": \"{{ $execution.resumeUrl }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "id": "6577040c-086e-4cfb-b6b8-41faabc8526a",
      "name": "Send Refresh",
      "credentials": {
        "mqtt": {
          "id": "nxPlZZqtgMoMIKs4",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eefb42e9-5e5c-44bc-bd4e-e127c36cd2a3",
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "899ad780-314a-4957-b63e-74bc84c43123",
      "name": "If Not Response"
    },
    {
      "parameters": {
        "fcmToken": "/topics/notification",
        "title": "Device Warning",
        "body": "Perangkat tidak lagi mengirimkan data. Silakan periksa koneksi internet atau daya perangkat.",
        "additionalFields": {}
      },
      "type": "@digital-boss/n8n-nodes-google-firebase-notifications.googleFirebaseNotifications",
      "typeVersion": 1,
      "position": [
        640,
        -96
      ],
      "id": "2bf9c864-b037-43db-94a7-eb8c0935e6c2",
      "name": "Send Device Warning Notification",
      "credentials": {
        "googleFirebaseNotificationsApi": {
          "id": "IQdeWqW6pwanK6nL",
          "name": "Google Firebase Notifications account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "If Not Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger 30 Min": {
      "main": [
        [
          {
            "node": "Send Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Refresh": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Response": {
      "main": [
        [
          {
            "node": "Send Device Warning Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0046da9a-a098-410e-9edf-38da966eb9c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0244782b7ae9b921dd7e4d2535e0e4743669000f812c3d7de7e1235440505061"
  },
  "id": "TtcpUCVXrOLZUYCw",
  "tags": []
}